@model FitFriend.Models.Workout

@{
    ViewData["Title"] = "Delete Workout";
    
}

<h2>Delete Workout</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.WorkoutType on @Model.Date.ToShortDateString()</h4>
    <form asp-action="Delete">
        <input type="hidden" asp-for="WorkoutId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
